<<<<<<< HEAD
:root {
    --evening:#192231;
    --sunset:#985E6D;
    --cloud:#98878F;
    --stormy:#494E6B;
    --teal:#56f4de;
}

body{
   background-color: var(--evening);
   color: white;
   margin-top: 0;
}
input, select{
    padding: .3em;
    border-radius: 4px;
    margin-right: 1em;
}

label{
   margin: .5em;
}

button{
  font-size: 1.2em;
}

.quick-message{
  margin: 10px;
  font-size: 18px;
}

.header{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: linear-gradient(90deg, rgba(25,34,49,1) 0%, rgba(73,78,107,1) 100%, rgba(152,135,143,1) 100%);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.header-btn{
  border: 1px solid var(--teal);
}

.main{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   font: 14px "Fira Sans", sans-serif;
}

.sideMenu{
   margin-top: 1.5em;
   display: flex;
   flex-direction: column;
   font-size: 1em;
   width: 35vw;
}

.sideMenu button{
   margin: .6em;
}


.dashboard{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 100vw;
}

.dashboard>*{
   margin-top: .5em;
   margin-bottom: .5em;
}

.main-top{
   display: flex;
   flex-direction: row;
   width: 100vw;
   justify-content: flex-start;
}

.quick-menu{
   display: flex;
   flex-direction: column;
   padding: .25em;
}

li{
   list-style-type: none;
   font-size: 16px;
}

.employee-name{
   padding: .5em;
   border-left: 1px solid var(--teal);
   font-size: 20px;
}

.employee-name:hover{
   background-color: var(--stormy);
   color: white;
}

.MuiPaper-root{
   background: rgb(25,34,49);
   background: linear-gradient(90deg, rgba(25,34,49,1) 0%, rgba(73,78,107,1) 100%, rgba(152,135,143,1) 100%);
   color: white;
}


.MuiList-root{
   color: white;
}

.MuiSvgIcon-root{
   color: var(--teal);
}

.MuiDataGrid-columnHeaders{
   color: var(--teal);
}

.report-container{
   display: flex;
   justify-content: space-between;
}
.report-filters{
   display: flex;
   flex-wrap: wrap;
}

h4, h5, h3  {
   margin: .5em;
   margin-left: 0;
   color:var(--teal);
   font-weight: 100;
}

h1{
  text-align: center;
}

table{
   width: 90vw;
   margin: .5em;
}

.modal-bg{
  margin: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
}

.modal{
  width: 100vw;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(25,34,49,1) 0%, rgba(73,78,107,1) 100%, rgba(152,135,143,1) 100%);
  color: white;
}

.modal-content form>*{
   margin: 1em;
}

.buttons{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 2em;
}

.submit-btn, .cancel-btn, .edit-button{
  font-size: 1.5em;
}

.clock-in-out{
   display: flex;
   flex-direction: row;
   margin-bottom: .5em;
   justify-content: flex-start;
}

.quick-menu-shortcuts{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.quick-menu-shortcuts button:hover, .header-btn:hover{
  background-color: var(--teal);
  color: var(--evening);
}

.details-card{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   padding: .5em;
   color: white;
   width:100;
}

.details-card>*{
   margin: 5px;
}

.details-card li{
  margin-bottom: 10px;
  margin-top: 10px;
}

.quick-menu button{
   margin: 6px;
}

th{
   text-align: left;
   border-right: solid black 1px;
   font-weight: normal;
   color: var(--teal);
}

table tr{
   margin-bottom: .5em;
}

button{
   padding: .5em;
   background: var(--teal), .5;
   color: var(--teal);
   border-radius: 4px;
   border: 1px solid var(--teal);
}

 button:hover{
    transition: 500ms;
}

button:active{
   background-color: var(--teal);
}

button:disabled{
   color: var(--stormy);
   border: 1px solid var(--stormy);
}

.report-filters{
   border-radius: 4px;
   background-color: white;
}

.edit-form{
   background-color: white;
   display: flex;
   justify-content: center;
   border-radius: 4px;
   max-width: 40vw;
   align-self: center;
}

.edit-button{
   max-height: 2.3em;
   color: var(--teal);
}

.clock-in-btn{
   min-height: 5.5em;
   min-width: 100px;
   background: linear-gradient(129deg, rgba(118,201,76,1) 55%, rgba(195,255,164,1) 100%);
   color: var(--evening);
   border: 1px solid rgba(118,201,76,1);

}
.clock-out-btn{
   min-height: 5.5em;
   min-width: 100px;
   background: linear-gradient(145deg, rgba(191,81,73,1) 70%, rgba(255,166,166,1) 100%);
   color: white;
   border: 1px solid rgba(191,81,73,1);
}

.clock-in-btn:disabled, .clock-out-btn:disabled{
   background: none;
   border: 1px solid var(--stormy);
}

.submit-btn{
   color: rgba(118,201,76,1);
   border: 1px solid rgba(118,201,76,1);
}

.cancel-btn{
   color: rgba(191,81,73,1);
   border: 1px solid rgba(191,81,73,1);
}
/* #details-btn{
   border: solid 1px var(--sunset);
   color: var(--sunset);
}

#details-btn:hover{
   border: solid 1px var(--sunset);
   color: white;
   background: var(--sunset);
} */
=======

.main{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.sideMenu{
   margin-right: 4em;
   display: flex;
   flex-direction: column;
}

.sideMenu button{
   margin: .6em;
}

.dashboard{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
.employeeDetails{
   margin-bottom: 2em;
}

.quickMenu{
   display: flex;
   flex-direction: column;
}

li{
   list-style-type: none;
}
>>>>>>> 6db1040 (trying to fix clockout function)
