
.main{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.sideMenu{
   margin-right: 4em;
   display: flex;
   flex-direction: column;
}

.sideMenu button{
   margin: .6em;
}

.dashboard{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 100vw;
}

.main-top{
   display: flex;
   flex-direction: row;
   width: 100vw;
}

.quickMenu{
   display: flex;
   flex-direction: column;
}

li{
   list-style-type: none;
}

.report-container{
   display: flex;
   justify-content: space-between;
}
.report-filters{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   max-width: 35vw;
}

h4{
   margin-bottom: .5em;
}

table{
   margin-top: 1em;
}

.modal-bg{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
}

.modal{
  background-color: white;
  width: 65vw;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
